.header {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f08804;
  text-decoration: none;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
